server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name {{ host }};

  ssl_certificate /etc/letsencrypt/live/{{ host }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ host }}/privkey.pem;

  location / {
    root /srv/www/{{ host }};
  }

  location /api/sum/ {
    proxy_pass http://{{ api_sum_host }}:8080/sum/;
  }
}
