server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name {{ host }};

  ssl_certificate /etc/letsencrypt/live/{{ host }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ host }}/privkey.pem;

  location / {
    root /srv/www/{{ host }};
  }

  location /api/sum/ {
    proxy_pass http://localhost:8080/sum/;
  }

  location /api/diff/ {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /srv/calc-api-diff/diff.php;
    fastcgi_pass unix:/run/php/php{{ php_fpm_ver }}-fpm.sock;
  }
}
